<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/b5602ff4-756a-4923-bf20-e16b35c84307/v3/index.json" />
  </packageSources>
</configuration>